:root {
  --font-family: "Uto", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Inter", sans-serif;

  --10: #111;
  --9: #222;
  --8: #323232;
  --7: #777;
  --6: #999;
  --5: #bbb;
  --4: #eee;
  --3: #fff;
  --dark: #653012;
  --middle: #8f5334;
  --light: #ad7955;
  --error: #d32f2f;

  --sb-track-color: transparent;
  --sb-thumb-color: var(--black);
  --sb-thumb-color-hover: rgba(23, 26, 30, 0.5);
  --sb-size: 2px;
}
